:root {
    --primary: #FF5733;
    /* Cambia el color primario */
    --secondary: #00C9A7;
    /* Cambia el color secundario */
    --success: #28A745;
    /* Cambia el color de éxito */
    --info: #17A2B8;
    /* Cambia el color de información */
    --warning: #FFC107;
    /* Cambia el color de advertencia */
    --danger: #DC3545;
    /* Cambia el color de peligro */
    --light: #F8F9FA;
    /* Cambia el color de fondo claro */
    --dark: #343A40;
    /* Cambia el color de fondo oscuro */


    --primario: rgb(255, 255, 255);
    --neutro: rgb(175, 175, 175);
    --secundario: rgb(26, 26, 26);
}

* {
    scroll-behavior: smooth;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    cursor: default;
}


body {
    background-color: var(--primary);
    width: 100vw !important;
    overflow-x: hidden;
}


.custom-text {
    color: var(--primary);
    /* Cambia el color del texto */
}



/*MENU*/

nav {
    top: 0;
    width: 100vw;

    z-index: 1;

}

.navbar-brand img {
    width: 80px;
}

.navbar-nav {
    align-items: center;
}

.navbar .navbar-nav .nav-link {
    color: #fff;
    font-size: 1.1em;
    padding: 0.5em 1em;
}

@media screen and (min-width: 768px) {
    .navbar-brand img {
        width: 100px;
    }

    .navbar-brand {
        margin-right: 0;
        padding: 0 1em;
    }
}


img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

._icono_nav{
    height: 40px;
    object-fit: contain;
}

._navar_mdiferencia{
    mix-blend-mode: difference;
}

/* PARA TODOS */

a:hover{
    cursor: pointer;
}

.navbar-brand img:hover{
    cursor: pointer;
}

._nav_height{
    /* salva nav */
    /* salva nav */
    display: flex;
    height: 65px;
    width: 100vw;
}


._jpg_12col{
    height: 730px;
}
._jpg_850{
    height: 850px;
}
._contenedor_margen{
    margin: 50px;
}
._contenedor_margen a{
    text-decoration: none;
    color: inherit;
}
h4{
    font-weight: 400;
}
._margin_bottom{
    margin-bottom: 50px;
}








/* NOSOTROS */
/* NOSOTROS */

.custom-list {
    margin: 0;
    padding: 0;
    list-style: none; 
}
img{
    border-radius: 5px;
}

._padding_l{
    padding-right: 25px;
}
._padding_r{
    padding-left: 25px;
}
._padding_c{
    padding-right: 25px;
    padding-left: 25px;
}

._height_img{
    height: 600px;
}
._margin_bottom_s{
    margin-bottom: 15px;
}



/* MODAL */
/* MODAL */

.modal-content {
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(15px);
    color: #ffffff;
}

.modal-body .row{
    --bs-gutter-x: 0;
    gap: 33px;
}

.modal-body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}

.btn-close {
    color: #ffffff !important;
    font-weight: bold !important;
}

