:root {
    --primary: #141414;
    /* Cambia el color primario */
    --secondary: #00C9A7;
    /* Cambia el color secundario */
    --success: #28A745;
    /* Cambia el color de éxito */
    --info: #17A2B8;
    /* Cambia el color de información */
    --warning: #FFC107;
    /* Cambia el color de advertencia */
    --danger: #DC3545;
    /* Cambia el color de peligro */
    --light: #F8F9FA;
    /* Cambia el color de fondo claro */
    --dark: #343A40;
    /* Cambia el color de fondo oscuro */
}

* {
    scroll-behavior: smooth;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    cursor: default;
}


body {
    background-color: var(--light);
    width: 100vw !important;
    overflow-x: hidden;
}


.text-primary {
    color: var(--primary) !important;
    opacity: 0.5;
    transition: 0.5s;
}

.text-primary:hover {
    opacity: 1;
}

/*MENU*/

nav {
    top: 0;
    width: 100vw;
    z-index: 1;
    height: 10vh;
}

.navbar-brand img {
    width: 80px;
}

.navbar-nav {
    align-items: center;
}

.navbar .navbar-nav .nav-link {
    color: #fff;
    font-size: 1.1em;
    padding: 0.5em 1em;
}

@media screen and (min-width: 768px) {
    .navbar-brand img {
        width: 100px;
    }

    .navbar-brand {
        margin-right: 0;
        padding: 0 1em;
    }
}



/*HEADER*/

header{
    height: 90vh;
}

model-viewer {
    position: absolute;
    height: 90vh;
    width: 100vw;
    z-index: 0;
    overflow: hidden;
}

._bg_text{
    position: relative;
    z-index: -1;
}

._bg_text>h1{
    font-size: 5vw!important;
    text-align: justify;
}
