:root {
    --primary: #141414;
    /* Cambia el color primario */
    --secondary: #00C9A7;
    /* Cambia el color secundario */
    --success: #28A745;
    /* Cambia el color de éxito */
    --info: #17A2B8;
    /* Cambia el color de información */
    --warning: #FFC107;
    /* Cambia el color de advertencia */
    --danger: #DC3545;
    /* Cambia el color de peligro */
    --light: #F8F9FA;
    /* Cambia el color de fondo claro */
    --dark: #343A40;
    /* Cambia el color de fondo oscuro */
}


* {
    scroll-behavior: smooth;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    cursor: default;
}


body {
    background-color: var(--light);
    overflow-x: hidden;
}


.text-primary {
    color: var(--primary) !important;
}


/*MENU*/

nav {
    top: 0;
    z-index: 1;
}

.navbar-brand img {
    width: 80px;
}

.navbar .navbar-nav .nav-link {
    color: #fff;
    font-size: 1.1em; 
    padding: 0.5em 1em;
}

.diferencia{
    mix-blend-mode: difference !important;
}

._icono_nav{
    height: 40px;
    object-fit: contain;
}






@media screen and (min-width: 768px) {
    .navbar-brand img {
        width: 100px;
    }

    .navbar-brand {
        margin-right: 0;
        padding: 0 1em;
    }

}



/*HEADER*/

header{
    height: 90vh;
}

model-viewer {
    height: 90vh;
    z-index: 0;
    overflow: hidden;
}

._bg_text{
    z-index: -1;
}

._bg_text>h1{
    font-size: 5vw!important;
    text-align: justify;
}


/*MAIN*/

.img_home{
    height: 80vh !important;
    object-fit: cover;
}

.margin_top{
    margin-top: 12vh!important;
}

.accordion-button:not(.collapsed){
    color: #141414;
    
}

.accordion-button:focus{
    box-shadow: none;
}

.accordion-flush{
    background-color:#F8F9FA!important;
}

.accordion-item{
    background-color:#F8F9FA!important;
    width: 33vw !important;
    border-bottom: 0;
    margin-right: 6%;
}

.accordion-button{
    font-size: 2vw;
    background-color:#F8F9FA!important;
    padding-left: 0;
}

.accordion-body{
    background-color:#F8F9FA!important;
}

.container-fluid{
    --bs-gutter-x: 0rem;
}

.carousel-inner{
    height: 60vh;
}

.carousel-item>img{
    height: 50vh!important;
}

.modal-content {
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(15px);
    color: #ffffff;
}

.modal-body .row{
    --bs-gutter-x: 0;
    gap: 33px;
}

.modal-body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}

.btn-close {
    color: #ffffff !important;
    font-weight: bold !important;
}



@media (max-width: 767px) {

    .accordion-flush{
        flex-direction: column !important;
        align-items: center;
        width: 100% !important;
    }

    .accordion-item{
        width: 100% !important;
        margin-right: 0;
    }

    body > main > div:nth-child(2) > div.d-md-flex.flex-md-equal.w-100.my-md-3.ps-md-3.margin_top{
        flex-direction: column-reverse;
        width: 100%!important;
    }

    .accordion-button{
        font-size: 4vw;
    }

   #navbarNav{
        height: 95vh;
        background-color: #F8F9FA;
    }

    nav{
        background-color: #F8F9FA;
    }

    .navbar-nav{
        align-items: center;
        height: 100%;
        gap: 6%;
        justify-content: center;
    }
    
    

    .diferencia{
        mix-blend-mode: normal !important;
    }

    .navbar .navbar-nav .nav-link {
        color: #000000;
        font-size: 1.1em; 
        padding: 0.5em 1em;
    }

    ._icono_nav{
        filter: invert(0%) sepia(13%) saturate(7476%) hue-rotate(251deg) brightness(0%) contrast(100%);
        -webkit-filter: invert(0%) sepia(13%) saturate(7476%) hue-rotate(251deg) brightness(0%) contrast(100%);
    }

}